@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;


.btn{
    display: inline-block;
    outline:none;
    border:none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-size:rem(16);
    // line-height: 1.78;
    line-height: 2;
    font-weight: normal;
    padding:em(12) em(44);
    color:$clr-white;
    @include transition(all, 0.2s, ease-out);
    svg path{
        fill: $clr-secondary;
    }
    &:hover{
        cursor: pointer;
        svg path{
            fill: $clr-white;
        }
    }
}

.btn--primary{
    background: $clr-secondary;
    border: 1px solid  $clr-white;
}

.btn--secondary{
    background: $clr-black;
    border: 1px solid  $clr-white;
}

.btn--outline{
    background: transparent;
    color:$clr-secondary;
    border:1px solid $clr-secondary;
}

.btn--transparent{
    background:transparent;
    color:$clr-primary;
    padding: 0;
    svg{
        path{
            fill:$clr-secondary;
        }
    }
    &:hover{
        svg{
            path{
                fill:$clr-primary;
            }
        }
    }
}

/*
---------------------------------------
hover effect
---------------------------------------
*/

.btn--primary,
.btn--secondary,
.btn--outline{
    &::before{
        content: '';
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        position: absolute;
        opacity: 0;
        background-color: $clr-primary;
        z-index: -1;
        @include transition(all, 0.25s, ease-out);
    }
}
  
.btn--secondary,
.btn--primary,
.btn--outline {
    &:hover, &:focus{
        color: $clr-white;
        &::before{
            @include transition(all, 0.25s, ease-out);
            left: 0;
            right: 0;
            opacity: 1;
        }
    }
    &.active{
        transform: scale(0.9);
    }
}


.btn--secondary,
.btn--outline{
    &::before{
        background: $clr-secondary;
    }
}


// ========= Play Button ==========
.play-btn-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-btn{
    position: relative;
    @include flex-center;
    @include dimensions(rem(80), rem(80));
    @include border-radius("full-round");
    @include transition(all, 0.3s, ease);
    flex-shrink: 0;
    background: $clr-black;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5);
    z-index: 1;

    @include breakpoint-sm{
        @include dimensions(rem(96), rem(96));
    }
    @include breakpoint-lg{
        @include dimensions(rem(112), rem(112));
    }
    @include breakpoint-xxl{
        @include dimensions(rem(120), rem(120));
    }
   
    &::after {
        @include rippel-animation(2.5s, 0s);
    }
      
    &::before {
        @include rippel-animation(2.5s, 0.5s);
    }

    &:hover{
        cursor: pointer;
        background: $clr-secondary;
    }
}


@keyframes rippel{
    from {
      opacity: 1;
      transform: scale3d(0.75,0.75,1);
    }
    
    to {
      opacity: 0;
      transform: scale3d(1.5,1.5,1);
    }
}