@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;


.cursor{
    position: fixed;
    @include dimensions(rem(40), rem(40));
    @include border-radius("full-round");
    margin-left: -20px;
    margin-top: -20px;
    border:1px solid $clr-primary;
    pointer-events: none;
    z-index: 1000;
    // display: none;
    @include transition(transform, 0.25s, ease-out);
    transform-origin: center center;
    transform:scale(0.65);
    background: $clr-primary;
    // box-shadow: 1px 2px 10px rgba(255,255,255,0.5);

    // @include breakpoint-md{
    //     display: block;
    // }
}


.grow,
.grow-small{
    // transform:scale(4) translateY(0%);
    transform:scale(0.12);
    background:$clr-white;
    mix-blend-mode: difference;
    border:none;
}

.grow-small{
    // transform:scale(2.4);
    transform:scale(1.5);
}

.hidden{
    display: none;
    visibility: hidden;
}
.btn-hidden{
    @extend .hidden;
}
