@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;

// ======== Form ========
.form{
    &__group{
        position: relative;
        label{
            position: absolute;
            top:50%;
            left: 0;   
            transform: translateY(-50%);
            pointer-events: none;
            @include transition(all, 0.25s, ease-out);
            color:$clr-black;
            font-family: $ff-primary;
            font-size: rem(20);
            line-height: 3.83;

            @include breakpoint-md{
                font-size: rem(22);
            }
            @include breakpoint-xl{
                font-size: rem(24);
            }
        }
    }
    &__control{
        position: relative;
        width: 100%;
        border:none;
        border-bottom: 1px solid $clr-black;
        font-size: rem(16);
        padding-block:em(16);
        caret-color: $clr-secondary;
        @include breakpoint-sm{
            font-size: rem(18);
            padding-block:em(20);
        }
        &:focus, &:hover{
            border-color:$clr-secondary;
            border-width: 1.5px;
        }
    }
}

.form-textarea + label{
    top: 13%;
}

.form__control:focus + label,
.form__control:not(:placeholder-shown) + label{
    font-size: rem(18);
    top: 0;
    color:$clr-secondary;
    padding-inline:em(8);
    line-height: 1.67;
    border-radius:0 0 rem(16) rem(16);
    letter-spacing: 0.8px;
}
