@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;

.loader-container{
    position: fixed;
    inset:0;
    @include dimensions(100%, 100vh);
    background: $clr-primary;
    z-index: 1000000;
    @include flex-center;
    pointer-events: none;
    @include transition(transform, 0.5s , ease-in-out);
    transition-duration: 1s;
}
.loader-wrapper{
    svg {
        max-width: 100%;
        vertical-align: baseline;
    }
}

.site-container {
    padding: 2em;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.drawable-illustration{
   width: rem(240);
   height:rem(240);
   @include breakpoint-sm{
        width: rem(280);
        height:rem(280);
   }
   @include breakpoint-md{
        width: rem(380);
        height:rem(380);
   }
   @include breakpoint-lg{
        width: rem(480);
        height:rem(480);
   }
   @include breakpoint-xl{
        width: rem(580);
        height:rem(580);
   }
}
.drawable-illustration path {
    stroke-width: 0.25;
    stroke: #fff;
    animation: draw 2s linear infinite;
}
.drawable-illustration path{
    stroke-dasharray: 80;
    stroke-dashoffset: 80;
}

@keyframes draw {
    to {
    stroke-dashoffset: 0;
    }
}
    