@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;


.modal{
    position: fixed;
    left: 0; top: 0;
    z-index: 1000;
    overflow: hidden;
    @include full-dimensions;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(10px);
    place-items: center;
    display: none;
}

.modal-wrapper{
    position: relative;
    z-index: 1;
    border:1px solid $clr-grey-1;
    background:$clr-primary;
    @include flex-center;
    width: min(90%, rem(1200));
    aspect-ratio: 16/9;
    &::before{
        content:"";
        position: absolute;
        z-index: -1;
        width: rem(48);
        padding: em(6);
        aspect-ratio: 1;
        @include border-radius("full-round");
        background: $clr-secondary;
        --_m: conic-gradient(#0000 10%,#000), linear-gradient(#000 0 0) content-box;
        -webkit-mask: var(--_m);
            mask: var(--_m);
        -webkit-mask-composite: source-out;
            mask-composite: subtract;
        animation: loading 1s infinite linear; 
    }
    @keyframes loading {
        to{
            transform: rotate(1turn);
        }
    }
}

/* Responsive Embedded Video */
.modal-content,
.modal-content iframe{
    @include full-dimensions;
}

// ======== Close Button =========
.close-btn {
    position: absolute;
    right: 0; top: 0;
    margin-top: -rem(-20);
     margin-right: -rem(-15);
    @include dimensions(rem(30), rem(30));
    @include border-radius("full-round");
    background: $clr-white;
    color: $clr-primary;
    font-size: rem(32);
    font-weight: 900;
    @include flex-center;
    @include transition(all, 0.25s, ease-out);
    &:hover{
        cursor: pointer;
        background-color: $clr-secondary;
        color:$clr-white;
    }
}
