@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;


//========== Mobile Menu Start ========
.nav{
    &--desktop{
        .nav-list{
            @include flex-center-vertical;
            display: none;
            @include breakpoint-lg{
                display: flex;
                gap: rem(32);
            }
            @include breakpoint-xl{
                gap: rem(48);
            }
            @include breakpoint-xxl{
                gap: rem(64);
            }
        }
        .nav__link{
            font-size: rem(16);
            line-height: 1.2;
            text-transform: uppercase;
            color:$clr-white;
            font-family: $ff-secondary;
            display: none;
            @include breakpoint-xl{
                display: flex;
            }
        }
    }
    &--mobile{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include breakpoint-md{
            gap:rem(192);
        }
        @include breakpoint-lg{
            flex-wrap: nowrap;
            gap:rem(96);
        }
    }
    &__item{
        position: relative;
        overflow: hidden;
    }
    &__link {
        color:$clr-white;
        font-family: $ff-primary;
        font-size: rem(24);
        line-height: 1.8;
        @include breakpoint-md{
            font-size: rem(28);
        }
        @include breakpoint-lg{
            font-size: rem(32);
        }
        @include breakpoint-xl{
            font-size: rem(36);
        }
        @include breakpoint-xxl{
            font-size: rem(40);
        }
    }
    &__contact-list{
        li{
            @include breakpoint-sm{
                text-align: right;
            }
        }
    }
}
//========== Mobile Menu End ========
.nav-link{
    text-transform: uppercase;
    font-size: rem(16);
    line-height: 1.2;
    text-transform: uppercase;
    font-family: $ff-secondary;
    display: none;
    @include breakpoint-xl{
        display: flex;
    }
}

.nav__link{
    &:hover{
        color:$clr-secondary;
        span{
            color:$clr-secondary;
        }
    }
    &.active{
        color:$clr-secondary;
        span{
            color:$clr-secondary;
        }
        &::before {
            width: 100%;
            transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
        }
        &::after {
            width: 100%;
            background: transparent;
            transition: 0s;
        }
    }
}

.cta-link{
    &:hover{
        address{
            color:$clr-secondary;
        }
    }
}

.direction-txt{
    text-decoration-color: $clr-primary;
    &:hover{
        span{
            color:$clr-primary;
        }
    }
}

.contact-list__link{
    color:$clr-white;
    line-height: 2.5;
}


.nav__link, .nav-link, 
.h-mail-btn span:nth-child(2),
.cta-link:not(address),
.contact-list__link:not(address),
.footer-link:not(address){
    position: relative;
    transition: color 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);

    &::before, &::after {
        content: '';
        position: absolute;
        width: 0;
        bottom:-0.3rem;
        height: 0.1rem;
        background: $clr-secondary;
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
        transition: width 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
    }
    &:hover{
        cursor: pointer;
        color:$clr-secondary;
        &::before {
            width: 100%;
            transition: width 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
        }
        &::after {
            width: 100%;
            background: transparent;
            transition: 0s;
        }
    }
}