@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.footer{
    background: $clr-black;
    &__link-list{
        position: relative;
        overflow: hidden;
        list-style: none;
    }
    &__top{
        padding-top: em(154);
        padding-bottom: em(36);
    }
    &__bottom{
        p, a{
            color:$clr-white-1;
            font-size: 14px;
            line-height: 2;
        }
        ul{
            @include flex-center-vertical;
            column-gap: rem(10);
            @include media-query("min", em(380)){
                margin-top: 0;
            }
            @include media-query("min", em(480)){
                column-gap: rem(16);
            }
            @include breakpoint-lg{
                column-gap: rem(32);
            }
        }
    }
}

.footer-link-title{
    font-weight: 900;
    color:$clr-white-1;
    line-height: 1;
}

.footer-link{
    color:$clr-white-1;
    font-size: rem(16);
    line-height: 2;
    text-transform: capitalize;
}

.footer-description{
    max-width: 32ch;
    color: $clr-white;
}

.footer-logo-wrapper{
    display: flex;
}

.socials{
    &__list{
        @include flex-center-vertical;
        flex-wrap: wrap;
        gap:em(16);
        @include media-query("min", em(320)){
            gap:em(32);
        }
    }
    // &__link{
    //     position: relative;
    //     z-index: 1;
    //     @include flex-center;
    //     &::before{
    //         content:"";
    //         position: absolute;
    //         left: 0;
    //         top: 0;
    //         border-radius:50%;
    //         width: 36px;
    //         height: 36px;
    //         background: $clr-secondary;
    //         z-index: -1;
    //     }
    // }
}