@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.footer{
    background: $clr-black;
    &__link-list{
        position: relative;
        overflow: hidden;
        list-style: none;
    }
    &__top{
        padding-top: em(154);
        padding-bottom: em(36);
    }
    &__bottom{
        p, a, li{
            color:$clr-white-1;
            font-size: rem(14);
            line-height: 2;
            text-transform: uppercase;
        }
        ul{
            @include flex-center-vertical;
            flex-wrap: wrap;
            column-gap: rem(10);
            @include media-query("min", em(380)){
                margin-top: 0;
            }
            @include media-query("min", em(480)){
                column-gap: rem(16);
            }
            @include breakpoint-lg{
                column-gap: rem(32);
            }
        }
    }
}

.footer-link-title{
    font-weight: 900;
    color:$clr-white-1;
    line-height: 1;
}

.footer-link{
    color:$clr-white-1;
    font-size: rem(16);
    line-height: 2.4;
    text-transform: uppercase;
}

.footer-description{
    max-width: 32ch;
    color: $clr-white;
}

.footer-logo-wrapper{
    display: flex;
}

.socials{
    &__list{
        @include flex-center-vertical;
        flex-wrap: wrap;
        gap:em(16);
    }
    &__link{
        position: relative;
        z-index: 1;
        @include flex-center;
        @include dimensions(rem(36), rem(36));

        svg {
            path{
               transform:all 0.35s ease;
            }
        }

        &::before,
        &::after{
            content:"";
            position: absolute;
            left: 0;
            top: 0;
            border-radius:50%;
            @include dimensions(rem(36), rem(36));
            background: $clr-secondary;
            @include flex-center;
            z-index: -1;
            clip-path: inset(0 50% 0 50%);
            transition:clip-path 0.3s ease;
        }

        &:hover{
            &::before{
                clip-path: inset(0 49% 0 0);
            }
            &::after{
                clip-path: inset(0 0 0 49%);
            }
            svg {
                path{
                    fill: $clr-white;
                }
            }
        }
    }
}