@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.header{
    position: sticky;
    top:0;
    left: 0;
    width: 100%;
    padding-block:em(16);
    background: transparent;
    z-index: 5;
    background: $clr-white;
    @include transition(top, 0.5s, ease-out);
    
    &.sticky{
        box-shadow: 0 2px 5px rgba(0,0,0,0.35);
        padding-block:em(12); 
    }
    &.hidden{
        top: -110px;
    }
    &__wrapper{
        width: 100%;
        @include flex-center-vertical;
        justify-content: space-between;
    }
    &--mobile{
        position: fixed;
        left: 0; top: 0;
        z-index: 100000;
        overflow-y: auto;
        @include full-dimensions;
        background-color:$clr-blck-2;
        padding-block: em(16);
        @include breakpoint-sm{
            padding-block: em(32);
        }
        @include breakpoint-xl{
            padding-block: 4rem 10rem;
        }
        .header-wrapper{
            @include flex-space-between;
        }
    }
    &--properties{
        background: $clr-tertiary;
    }
    &__logo{
        img{
            max-width: rem(200);
            @include breakpoint-lg{
                max-width: 100%;
            }
        }
        &--mobile{
            img{
                max-width: rem(200);
                height:rem(60);
                @include breakpoint-sm{
                    height:rem(70);
                }
                @include breakpoint-md{
                    height:rem(80);
                }
            }
        }
    }
    .header-btn{
        display: flex;
    }
}

.header .get-in-touch-btn{
    display: none;
    @include breakpoint-lg{
        display: flex;
    }
}

.header .call-btn{
    display: flex;
    @include breakpoint-lg{
        display: none;
    }
}

//========== Close Menu Button Start ========
.close-menu-btn{
    color:$clr-white;
    font-size: rem(14);
    border:1px solid transparent;
    padding: 0.25em 1em;
    @include border-radius(20px);
    @include transition(all, 0.2s, ease);
    span{
        margin-top: 0;
        &:nth-child(2){
            margin-left: rem(16);
        }
    }
    &:hover{
        cursor: pointer;
        color:$clr-secondary;
        border-color:$clr-secondary;
        transform:scale(1.05);
    }
}
//========== Close Menu Button End ========

.socials{
    &__list{
        &--mobile{
            @include  flex-center-vertical;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 1rem;
            @media (min-width:20em){
                gap: 2rem;
            }
            @include breakpoint-sm{
                justify-content: flex-end;  
            }
            li{
                position: relative;
                overflow: hidden;
            }
        }
    }
}

//====== Hamburger Styles Start =======
.hamburgur{
    &__wrapper{
        display:flex;
        align-items: center;
        gap:rem(16);
        @include breakpoint-sm{
            gap:rem(20);
        }
        span{
            margin-top: 0;
        }
        .menu-text{
            line-height: 2;
        }
        &:hover{
            cursor: pointer;
        }
    }
    .menu-line{
        @include dimensions(rem(42), rem(1));
        background: $clr-primary;
        display: block;
        margin-bottom: 5px;
        &:nth-child(2){
            width: rem(32);
        }
    }
}
//====== Hamburger Styles End =======