@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.header{
    position: sticky;
    top:0;
    left: 0;
    width: 100%;
    padding-block:em(16);
    z-index: 5;
    background: $clr-black;
    @include transition(top, 0.5s, ease-out);

    &--white{
        background: $clr-white;
        padding-block:em(20);
    }
    
    &.sticky{
        box-shadow: 0 2px 5px rgba(255, 255, 255, 0.35);
        padding-block:em(12); 

        &.header--white{
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
        }
    }
    &.hidden{
        top: rem(-110);
    }
    &__wrapper{
        width: 100%;
        @include flex-center-vertical;
        justify-content: space-between;
    }
    &--mobile{
        position: fixed;
        left: 0; top: 0;
        z-index: 100000;
        overflow-y: auto;
        @include full-dimensions;
        background-color:$clr-blck-2;
        padding-block: em(16);
        @include breakpoint-sm{
            padding-block: em(32);
        }
        @include breakpoint-xl{
            padding-block: 4rem 10rem;
        }
        .header-wrapper{
            @include flex-space-between;
        }
    }
    &--properties{
        background: $clr-tertiary;
    }
    &__logo{
        img{
            height:rem(48);
            @include breakpoint-sm{
                height:rem(64);
            }
            @include breakpoint-xxl{
                height:auto;
            }
        }
    }
    .header-btn{
        @include flex-center-vertical;
        gap:2rem;
    }

    &__left{
        @include flex-center-vertical;
        gap:2rem;
        @include breakpoint-xl{
            gap:5rem;
        }
    }
}


.h-mail-btn{
    align-items: center;
    gap:rem(10);
    color:$clr-white;
    font-size: rem(16);
    line-height: 1.25;
    text-transform: uppercase;
    display: none;
    @include breakpoint-xl{
        display: flex;
    }
    &--black{
        color:$clr-black;
    }
    &:hover{
        color:$clr-secondary;
        svg path{
            fill:$clr-secondary;
        }
    }
}

.header .get-in-touch-btn{
    display: none;
    @include breakpoint-lg{
        display: flex;
    }
}

.header .call-btn{
    display: flex;
    @include breakpoint-lg{
        display: none;
    }
}

//====== Hamburger Styles Start =======
.hamburgur{
    &__wrapper{
        @include flex-center-vertical;
        gap:rem(10);
        @include breakpoint-sm{
            gap:rem(16);
        }
        span{
            margin-top: 0; 
        }
        .menu-text{
            line-height: 2;
            color:$clr-white;
        }
        &:hover{
            cursor: pointer;
        }
    }
    .menu-line{
        @include dimensions(rem(42), rem(1.5));
        background: $clr-primary;
        display: block;
        margin-bottom: 4.5px;
        background: $clr-white;
        &:nth-child(2){
            width: rem(32);
        }
    }

    &--black{
        .menu-line{
            background: $clr-black; 
        }
    }
}
//====== Hamburger Styles End =======


//====== Socials Styles Start =======
.socials{
    &__list{
        &--mobile{
            @include  flex-center-vertical;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 1rem;
            @media (min-width:20em){
                gap: 2rem;
            }
            @include breakpoint-sm{
                justify-content: flex-end;  
            }
            li{
                position: relative;
                overflow: hidden;
            }
        }
    }
}
//====== Socials Styles End =======

//========== Close Menu Button Start ========
.close-menu-btn{
    color:$clr-white;
    font-size: rem(14);
    border:1px solid transparent;
    padding: 0.25em 1em;
    @include border-radius(20px);
    @include transition(all, 0.2s, ease);
    span{
        margin-top: 0;
        &:nth-child(2){
            margin-left: rem(16);
        }
    }
    &:hover{
        cursor: pointer;
        color:$clr-secondary;
        border-color:$clr-secondary;
        transform:scale(1.05);
    }
}
//========== Close Menu Button End ========