/* --------- Roslindale-DeckNarrow-Regular------------ */
@font-face{
    font-family:"Roslindale-Display-Regular";
    src:url("../assets/fonts/Roslindele-Display/Roslindale-Display.eot");
    src:url("../assets/fonts/Roslindele-Display/Roslindale-Display.eot"),
        url("../assets/fonts/Roslindele-Display/Roslindale-Display.woff2") format('woff2'),
        url("../assets/fonts/Roslindele-Display/Roslindale-Display.woff") format('woff'),
        url("../assets/fonts/Roslindele-Display/Roslindale-Display.ttf") format('truetype'),
        url("../assets/fonts/Roslindele-Display/Roslindale-Display.svg#Roslindale-Display-Regular") format('svg');
    font-weight:400;
    font-style: normal;
}


/* --------- Figtree Regular------------- */
@font-face{
    font-family:"Figtree-Regular";
    src:url("../assets/fonts/Figtree/Figtree-Regular.eot");
    src:url("../assets/fonts/Figtree/Figtree-Regular.eot"),
        url("../assets/fonts/Figtree/Figtree-Regular.woff2") format('woff2'),
        url("../assets/fonts/Figtree/Figtree-Regular.woff") format('woff'),
        url("../assets/fonts/Figtree/Figtree-Regular.ttf") format('truetype'),
        url("../assets/fonts/Figtree/Figtree-Regular.svg#Figtree-Regular") format('svg');
    font-weight:400;
    font-style: normal;
}


/* --------- Aileron Regular------------- 
@font-face{
    font-family:"Aileron-Regular";
    src:url("../assets/fonts/Aileron/Aileron-Regular.eot");
    src:url("../assets/fonts/Aileron/Aileron-Regular.eot"),
        url("../assets/fonts/Aileron/Aileron-Regular.woff2") format('woff2'),
        url("../assets/fonts/Aileron/Aileron-Regular.woff") format('woff'),
        url("../assets/fonts/Aileron/Aileron-Regular.ttf") format('truetype'),
        url("../assets/fonts/Aileron/Aileron-Regular.svg#Aileron-Regular") format('svg');
    font-weight:400;
    font-style: normal;
}
*/




$ff-primary:"Roslindale-Display-Regular", sans-serif;
$ff-secondary:"Figtree-Regular", sans-serif;
// $ff-secondary:"Aileron-Regular",sans-serif;