@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.about-banner{
    h1{
        @include breakpoint-xxl{
            max-width: 12ch;
        }
    }
}
// .helping{
//     h2{
//         @include breakpoint-xxl{
//             max-width: 20ch;
//         }
//     }
// }
.core-values{
    &__list{
        max-width:90%;
        li{
            padding-block:em(16);
            @include breakpoint-md{
                padding-block:em(24);
            }
            @include breakpoint-lg{
                padding-block:em(32);
            }
            @include breakpoint-xl{
                padding-block:em(40);
            }
        }
    }
    &__item{
        display: flex;
        gap:rem(16);
        h6{
            line-height: 1.57;
        }
        @include breakpoint-sm{
            gap:rem(22);
        }
        @include breakpoint-md{
            gap:rem(28);
        }
        @include breakpoint-lg{
            gap:rem(34);
        }
        @include breakpoint-xl{
            gap:rem(40);
            align-items: center;
        }
    }
}

.timeline{
    &__periods{
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow-x: auto;
        max-width: 100%;
        padding-block: 2em;
        @include breakpoint-xl{
            max-width: 80%;
        }
    }
    &__year-wrapper{
        display: flex;
        align-items: center;
        hr{
            flex-shrink: 0;
            border: none;
            height: 2px;
            // width: calc(100% - 2px);
            background-color: #cecece;
            width: 106px;
        }
        .year{
            padding-right: em(16);
            opacity: 0.4;
            transition:transform 0.2s ease-out;
            &.active{
                opacity: 1;
                transform:scale(1.1);
            }
            &:hover{
                cursor: pointer;
                transform:scale(1.1);
                opacity: 1;
                hr{
                    background-color: #000;
                }
            }
        }
    }
    &__content{
        margin-top: rem(32);
        @include breakpoint-lg{
            margin-top: rem(48);
        }
        p{
            max-width: 56ch;
        }
    }
}



.swiper-container-wrapper{
    position: relative;
}

.swiper-pagination-progressbar.swiper-pagination-horizontal{
    width: 80%;
    top: 14px;
}

.swiper-pagination-custom {
    display: flex;
    position: absolute;
    top: 0;
    z-index: 2;
    .swiper-pagination-switch {
      width: 100%;
        .switch-title{
            display: inline-block;
            background: white;
            padding-inline: 10px;
            transition:transform 0.2s ease-out;
            color:$clr-grey-2;
        }
        &:first-child{
            .switch-title{
                padding-left: 0;
            }
        }
        &:last-child{
            .switch-title{
                padding-right: 0;
            }
        }
    }
}

.swiper-pagination-progressbar {
    position: absolute;
    border-bottom: 2px solid #cecece;
    background-color: transparent;
    width: 80%;
    left: 0;
    z-index: 1;
    &-fill {
        background-color:$clr-primary !important;
        height: 3px;
        top: 2px !important;
    }
}

.swiper-pagination-switch{
    &.active{
        .switch-title{
            color:$clr-primary;
            transform:scale(1.1);
        }
    }
    &:hover{
        cursor: pointer;
        .switch-title{
            color:$clr-primary;
            transform:scale(1.1);
        }
    } 
}


