@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.about-banner{
    h1{
        @include breakpoint-xxl{
            max-width: 12ch;
        }
    }
}

.core-values{
    &__list{
        @media only screen and (min-width:1440px){
            max-width:90%;
        }
        li{
            padding-block:em(16);
            @include breakpoint-xl{
                padding-block:em(24);
            }
            @include breakpoint-xxl{
                padding-block:em(24);
            }
        }
    }
    &__item{
        display: flex;
        gap:rem(16);
        @include breakpoint-sm{
            gap:rem(22);
        }
        @include breakpoint-xl{
            gap:rem(26);
        }
        @include breakpoint-xxl{
            gap:rem(32);
        }
    }
}

.timeline{
    &__periods{
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow-x: auto;
        max-width: 100%;
        padding-block: 2em;
        @include breakpoint-xl{
            max-width: 80%;
        }
    }
    &__year-wrapper{
        display: flex;
        align-items: center;
        hr{
            flex-shrink: 0;
            border: none;
            height: 2px;
            // width: calc(100% - 2px);
            background-color: #cecece;
            width: 106px;
        }
        .year{
            padding-right: em(16);
            opacity: 0.4;
            transition:transform 0.2s ease-out;
            &.active{
                opacity: 1;
                transform:scale(1.1);
            }
            &:hover{
                cursor: pointer;
                transform:scale(1.1);
                opacity: 1;
                hr{
                    background-color: #000;
                }
            }
        }
    }
    &__content{
        margin-top: rem(32);
        @include breakpoint-lg{
            margin-top: rem(48);
        }
        p{
            max-width: 56ch;
        }
    }
}

.about-property{
    &__list{
        display: flex;
        align-items: center;  
        text-transform: capitalize;
    }
    &__footer{
       width: min(100%, 480px);
        ul{
            display: flex;
            align-items: center;
            gap: 1rem;
            @media only screen and (min-width:380px){
                gap: 1.5rem;  
            }
            @include breakpoint-sm{
                gap: 2rem;
            }
            @include breakpoint-md{
                gap: 3rem;
            }
            // @include breakpoint-sm{
            //     gap: 2rem;
            // }
        }
    }
}

.owner-details-card{
    display: flex;
    flex-wrap: wrap;
    &__body{
        background: $clr-primary;
        padding:em(20);
        a{
            font-size: 14px;
            line-height: 2;
            @include breakpoint-sm{
                font-size: 16px;
            }
        }
        ul{
            display: flex;
            align-items: center;
            gap: 2rem; 
            @media only screen and (min-width:1400px){
                gap:3rem;
            }
        }

    }
    .cta-btn{
        color:$clr-secondary;
        text-decoration: underline;
        transition:all 0.3s ease;
        text-transform: uppercase;
        font-size: 14px;
        @include breakpoint-sm{
            font-size: 16px;
        }
        &:hover{
            color:$clr-white;
            text-decoration-color: $clr-white;
        }
    }
}


.swiper-container-wrapper{
    position: relative;
}

.swiper-pagination-progressbar.swiper-pagination-horizontal{
    width: 80%;
    top: 14px;
}

.swiper-pagination-custom {
    display: flex;
    position: absolute;
    top: 0;
    z-index: 2;
    .swiper-pagination-switch {
      width: 100%;
        .switch-title{
            display: inline-block;
            background: white;
            padding-inline: 10px;
            transition:transform 0.2s ease-out;
            color:$clr-grey-2;
        }
        &:first-child{
            .switch-title{
                padding-left: 0;
            }
        }
        &:last-child{
            .switch-title{
                padding-right: 0;
            }
        }
    }
}

.swiper-pagination-progressbar {
    position: absolute;
    border-bottom: 2px solid #cecece;
    background-color: transparent;
    width: 80%;
    left: 0;
    z-index: 1;
    &-fill {
        background-color:$clr-primary !important;
        height: 3px;
        top: 2px !important;
    }
}

.swiper-pagination-switch{
    &.active{
        .switch-title{
            color:$clr-primary;
            transform:scale(1.1);
        }
    }
    &:hover{
        cursor: pointer;
        .switch-title{
            color:$clr-primary;
            transform:scale(1.1);
        }
    } 
}


