@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.form-section-inner{
    background-color: $clr-tertiary;
}

.connect-us{
    &__container{
        @include breakpoint-xs{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include breakpoint-xl{
            justify-content: space-around;
        }
    }
    &__wrapper{
        margin-bottom: 16px;
        &:last-child{
            margin-bottom: 0;
            .socials__list--contact{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                @include media-query("max", em(768)){
                    gap:rem(32);
                    margin-top: 6px;
                }
                @include media-query("max", em(320)){
                    gap:rem(16);
                }

                @include breakpoint-md{
                   flex-direction: column;
                }
            }
        }
        h6{
            opacity: 0.4;
        }
    }
    &__link{
        font-size: rem(16);
        line-height: 2.5;
        // &:hover{
        //     color:$clr-secondary;
        // }
    }
}

.cta-link-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-block:em(24) em(32);
    gap:24px;

    .cta-link{
        display: flex;
        align-items: center;
        gap:6px;
    }
}

.cta-title{
    font-weight: bold;
}

.cta-link{
    font-size: 16px;
    line-height: 2;
    &:hover{
        color:$clr-secondary;
    }
}

.direction-txt{
    color:$clr-secondary;
    text-decoration: underline;
}

// ======== Form ========
.form{
    &__group{
        position: relative;
        label{
            position: absolute;
            top:50%;
            left: 0;   
            transform: translateY(-50%);
            pointer-events: none;
            @include transition(all, 0.25s, ease-out);
            color:$clr-black;
            font-family: $ff-primary;
            font-size: 20px;
            line-height: 3.83;

            @include breakpoint-md{
                font-size: 22px;
            }
            @include breakpoint-xl{
                font-size: 24px;
            }
        }
    }
    &__control{
        width: 100%;
        // outline:0.5px solid #000;
        border-bottom: 1px solid $clr-black;
        font-size: rem(16);
        padding-block:em(16);
        caret-color: $clr-secondary;
        @include breakpoint-sm{
            font-size: rem(18);
            padding-block:em(20);
        }
        &:focus, &:hover{
            border-color:$clr-secondary;
            border-width: 1.5px;

        }
    }
}

.form-textarea + label{
    top: 13%;
}

.form__control:focus + label,
.form__control:not(:placeholder-shown) + label{
    font-size: rem(18);
    top: 0;
    color:$clr-secondary;
    padding-inline:8px;
    line-height: 1.67;
    border-radius:0 0 16px 16px;
    letter-spacing: 0.8px;
}