@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.form-section-inner{
    background-color: $clr-tertiary;
}

.connect-us{
    &__container{
        @include breakpoint-xs{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include breakpoint-xl{
            justify-content: space-around;
        }
    }
    &__wrapper{
        margin-bottom: rem(16);
        &:last-child{
            margin-bottom: 0;
            .socials__list--contact{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                @include media-query("max", em(768)){
                    gap:rem(32);
                    margin-top: rem(6);
                }
                @include media-query("max", em(320)){
                    gap:rem(16);
                }

                @include breakpoint-md{
                   flex-direction: column;
                }
            }
        }
        h6{
            opacity: 0.4;
        }
    }
    &__link{
        font-size: rem(16);
        line-height: 2.5;
    }
}

.cta-link-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-block:em(24) em(32);
    gap:rem(24);

    .cta-link{
        display: flex;
        align-items: center;
        gap:rem(6);
    }
}

.cta-title{
    font-weight: bold;
}

.cta-link{
    font-size: rem(16);
    line-height: 2;
    transition:all 0.35s ease;
    svg path{
        fill:$clr-black;
        transition:fill 0.35s ease;
    }
    &:hover{
        color:$clr-secondary;
        svg path{
            fill:$clr-secondary;
        }
    }
}

.direction-txt{
    display: inline-flex;
    color:$clr-secondary;
    text-decoration: underline;
    transition:all 0.35s ease;
    &:hover{
        text-decoration-color: $clr-black;
    }
}

