@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.form-section-inner{
    background-color: $clr-tertiary;
}

.connect-us{
    &__container{
        @include breakpoint-xs{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include breakpoint-xl{
            justify-content: space-around;
        }
    }
    &__wrapper{
        margin-bottom: 16px;
        &:last-child{
            margin-bottom: 0;
            .socials__list--contact{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                @include media-query("max", em(768)){
                    gap:rem(32);
                    margin-top: 6px;
                }
                @include media-query("max", em(320)){
                    gap:rem(16);
                }

                @include breakpoint-md{
                   flex-direction: column;
                }
            }
        }
        h6{
            opacity: 0.4;
        }
    }
    &__link{
        font-size: rem(16);
        line-height: 2.5;
    }
}

// ======== Form ========
.form{
    &__group{
        position: relative;
        label{
            position: absolute;
            top:50%;
            left: 20px;   
            transform: translateY(-50%);
            pointer-events: none;
            @include transition(all, 0.25s, ease-out);
            @include breakpoint-sm{
                left: 30px;  
            }
            @include breakpoint-md{
                left: 40px;  
            }
        }
    }
    &__control{
        width: 100%;
        outline:0.5px solid #000;
        font-size: rem(16);
        padding:em(16);
        caret-color: $clr-secondary;
        @include breakpoint-sm{
            padding:em(20) em(32);
        }
        @include breakpoint-md{
            padding:em(20) em(36);
        }
        @include breakpoint-lg{
            font-size: rem(18);
        }
        &:focus, &:hover{
            outline-color:$clr-secondary;
            outline-width: 1px;

        }
    }
}

.form-textarea + label{
    top: 13%;
}

.form__control:focus + label,
.form__control:not(:placeholder-shown) + label{
    font-size: rem(14);
    top: 0;
    color:$clr-secondary;
    background-color:$clr-tertiary;
    padding-inline:8px;
    line-height: 1.67;
    // border-bottom-left-radius: 16px;
    // border-bottom-right-radius: 16px;
    border-radius:0 0 16px 16px;
    left: rem(12);
    letter-spacing: 0.8px;
    @include breakpoint-sm{
        left: rem(24);
    }
    @include breakpoint-md{
        left: rem(32);
    }
}